:root {
  --dark-bg-color: #293146;

  /* left menu start */
  --left-menu-border-color: '#eee';

  --left-menu-max-width: 200px;

  --left-menu-min-width: 64px;
  --el-color-primary: #3473d1 !important;
  --left-menu-bg-color: #3473d1 !important;

  --left-menu-bg-light-color: #0f2438;

  --left-menu-bg-active-color: #234fd8;

  --left-menu-text-color: #bfcbd9;

  --left-menu-text-active-color: #234fd8;

  --left-menu-collapse-bg-active-color: var(--el-color-primary);

  /* left menu end */

  /* logo start */
  --logo-height: 50px;

  --logo-title-text-color: #fff;

  --logo-border-color: 'inherit';
  /* logo end */

  /* header start */
  --top-header-bg-color: #3473d1 !important;

  --top-header-text-color: 'inherit';

  --top-header-hover-color: #3473d1 !important;

  --top-tool-height: var(--logo-height);

  --top-tool-p-x: 0;

  --top-tool-border-color: #eee;

  --tags-view-height: 35px;

  --tags-view-border-color: #eee;
  /* header start */

  /* tab menu start */
  --tab-menu-max-width: 80px;

  --tab-menu-min-width: 30px;

  --tab-menu-collapse-height: 36px;

  --tab-menu-border-color: #eee;
  /* tab menu end */

  --app-content-padding: 20px;

  --app-contnet-bg-color: #edf1fc;

  --app-footer-height: 40px;

  --transition-time-02: 0.2s;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-button--primary {
  --el-button-bg-color: #3473d1 !important;
  --el-button-border-color: #3473d1 !important;
}
